svg#wires {
  position: absolute;
  inset: 0;
  pointer-events: none;
  stroke: #dddddd;
}

#input-wrapper {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
  gap: 20px;
}

#input-wrapper #input-wrapper-title {
  /* color: #505050; */
}

#query-input-wrapper {
  width: 180px;
  background-color: #f3f7f9;
  padding: 3px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#query-input-wrapper input {
  background-color: #f3f7f9;
  border: none;
  color: #505050;
  padding: 0px 6px;
}

#query-input-wrapper input:focus {
  outline: none;
}

#input-wrapper #magnifier {
  width: 24px;
  height: 24px;
  color: #999999;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tree-wrapper {
  padding: 40px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80px;
  height: 4px;
  background: #dddddd;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #6775c9;
  border-radius: 50%;
  cursor: pointer;
}
