/* 연결선은 SVG로 그린다 */
header {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
}
