.container {
  min-height: 100vh;
  /* padding: 40px; */
  background-color: #f3f7f9;
}

.horizon {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.parent {
  display: grid;
  gap: 16px;
}
